@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #ddd;
		--color-indoor-bg: #767c2e;
		--color-indoor: #f3f4e8;
		--color-shop-bg: #2e7d32;
		--color-shop: #e8f5e9;
	}

	.leaflet-popup-content-wrapper,
	.leaflet-popup-tip {
		background-color: #000;
		color: #ccc;
	}

	html {
		background-color: #000;
	}

	body {
		color: #fff;
	}

	main {
		background-color: #222;
	}

	.gray p {
		color: #999;
	}

	.dark-gray {
		color: #ccc;
	}

	.mid-gray {
		color: #aaa;
	}

	.near-black {
		color: #eee;
	}

	.black {
		color: #fff;
	}

	.bg-white {
		background-color: #181818;
	}

	.bg-near-white {
		background-color: #222;
	}

	.b--black-10 {
		border-color: #fff;
	}

	aside a.link:visited {
		color: #bbf;
	}

	.hover-bg-moon-gray:hover,
	a.button-link:hover {
		background-color: #333;
	}

	.bg-light-gray,
	a.button-link {
		background-color: #111;
	}

	.b--moon-gray,
	a.button-link {
		border-color: #333;
	}

	a.button-link,
	a.button-link:focus,
	a.button-link:hover {
		color: #ccc;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #ddd;
	}
}
