.carousel-image {
  display: block;
  height: 200px;
  /* set min-width,
     allow images to determine cell width */
  min-width: 150px;
  max-width: 100%;
  margin-right: 10px;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%)
}

.carousel.is-fullscreen .carousel-image {
  height: auto;
  max-height: 100%;
}

/* Hide the carousel by default (e.g., on list pages, summaries, etc.) */
.main-carousel {
  display: none;
}

/* Show the carousel ONLY if it is inside an article whose class starts with "page-" */
article[class^="page-"] .main-carousel,
article[class*=" page-"] .main-carousel {
  display: block;
}

/* Hide the featured image by default (home page, main page) */
.summary-featured-image {
  display: none;
}

/* Show the featured image on list page */
section.flex-ns .summary-featured-image {
  display: block;
}
