/* Hide the carousel by default (e.g., on list pages, summaries, etc.) */
.main-carousel {
  display: none;
}

/* Show the carousel ONLY if it is inside an article whose class starts with "page-" */
@media (scripting: enabled) {

  article.main-article .main-carousel {
    display: block;
  }
}

/* Hide the featured image by default (home page, main page) */
@media (scripting: enabled) {
  .summary-featured-image {
    display: none;
  }
}

/* Show the featured image on list page */
section.flex-ns .summary-featured-image {
  display: block;
}
