<div id="skatepark-map" class="skatepark-map" width="{{ (.Get " width") }}" height="{{ (.Get " height") }}"></div>

<script id="skatepark-map-data" type="application/json">
[
  {{- range $index, $element := where .Site.RegularPages "Type" "skateparks" -}}
    {{- if $index }},{{ end -}}
    {
      "title": {{ $element.Title | jsonify }},
      "permalink": {{ $element.Permalink | jsonify }},
      "lat": {{ $element.Params.latitude | jsonify }},
      "lng": {{ $element.Params.longitude | jsonify }}
    }
  {{- end -}}
]
</script>
